<h2>プロフィール編集</h2>
<%= form_with model: @user, url: user_path, method: :patch do |f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %>
<%= f.label :profile_image, "ProfileImage" %>
<%= f.file_field :profile_image, placeholder:"プロフィール画像", accept:"image/*" %>
<%= f.submit "変更を保存" %>
<% end %>